body {
  font-size: 14px;
  line-height: 1.4;
  @extend %opensans-400;
}

.green__btn {
  padding: 12px 24px;
  color: $white;
  background-color: $green-900;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

  &:hover {
    background-color: $green-1000;
  } 
  
  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  } 
  
  &:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  } 
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px 0;
}

.section {
  padding: 72px 0;
  text-align: center;
}

.title {
  @extend %ruda-600;
  font-size: 32px;
  color: $dark-900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
    
  &__button:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    @extend %opensans-700;
    color: $dark-500;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: color 0.5s ease-in-out, border-bottom 0.3s ease-in-out;
  }

  &__btn:hover {
    color: $green-900;  
  }

  &__btn:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 3px;
  }

  &__btn:active {
    border-bottom: 3px solid $green-200;
    box-shadow: none;
  }
}

.marker {

  &__new,
  &__discount,
  &__hit {
    display: inline-block;
    @extend %opensans-700;
    color: $white;
    border-radius: 6px;
    padding: 3px 6px;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  &__new {    
    background-color: $green-900;   
  }

  &__discount {
    background-color: $red-900;
  }

  &__hit {
    background-color: $orange-900;
  }
}

.condition {
  @extend %opensans-600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;

  &__yes {
    color: $green-900;    
  }

  &__ends {
    color: $red-900;
  }

  &__no {
    color: $silver-600;
  }
}
