html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-color: $white;
}

img {
  object-fit: cover;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


















