@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'global';

// HEADER// HEADER// HEADER// HEADER// HEADER

.header {

  &__top {
    background-color: $dark-800;
    color: #fff;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    letter-spacing: 0.03em;
    font-size: 13px;
    font-weight: 700;
  }

// BURGER OPEN

  &__burger {
    display: none;

    @include r($lg) {
      display: block;
    }
  }
  
  &__menu-btn {
    position: relative;
    z-index: 10;
    margin-left: 5px;
  }

  &__btn-icon {
    stroke: $white;
    width: 30px;
    height: 20px;
  }

  &__burger-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.15);
    z-index: 20;
    display: none;

    &.btn--active {
      display: block;
    }

    &.close--active {
      display: none;
    }
  }

  &__burger-wrapper {
    position: relative;
    max-width: 300px;
    width: 100%;
    background-color: $white;
    z-index: 21;
    border: 1px solid $silver;
    transform: translateX(-200%);
    

    &.btn--active {
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
    }
  }

  &__burger-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 22;
    padding: 26px 15px 26px 15px;
    background-color: $white;
  }

  &__btn-close {   
    padding: 11px;
    object-fit: contain;
    border-radius: 3px;
    transition: fill 0.5s ease-in-out, background-color 0.5s ease-in-out;

    &:hover {
      fill: $green-900;
      background-color: $green-100;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:active {
      fill: $silver-600;
      box-shadow: none;
    }
  }

  &__close-icon {
    @extend %bg;
    width: 18px;
    height: 18px;
  }

  &__registration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: $green-900;
    padding: 4px 58px 4px 5px;
  }

  &__registration-btn {
    font-size: 18px;
    color: $white;
    letter-spacing: 0.03em;
    line-height: 1;
    font-weight: 400;
  }

  &__line {
    width: 1px;
    height: 20px;
    background-color: $white;
  }

  &__contacts-link {
    padding-left: 32px;
    color: $black;
  }

  &__burger-links {
    padding: 24px 15px;
  }

  &__burger-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__burger-link {
    display: block;
    color: $dark-800;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-transform: none;
    transition: color 0.5s ease-in-out;

    &:hover {
      color:$green-900;
    }
  }

  // BURGER CLOSE

  &__list {
    display: flex;

    &--right {

      @include r($lg) {
        display: none;
      }
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    padding: 3px 2px;
    transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

    &--adress {
      margin-right: 26px;
      padding-left: 42px;

      @include r($lg) {
        margin-right: 0;
        padding-left: 32px;
      }

      & svg {
        width: 32px;
      }
    }

    &--tel {
      padding-left: 33px;

      @include r($lg) {
        padding-left: 20px;
      }

      & svg {
        width: 22px;
      }
    }

    & svg {
      transition: fill 0.5s ease-in-out;
    }

    &:active svg {
      fill: $green-200;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }

  &__link-icon {
    position: absolute;
    height: 22px;
    left: 0;
    bottom: 0;
    fill: $white;
    transition: fill 0.5s ease-in-out;

    &:active {
      fill: $green-200;
    }
  }

  &__link-text {

    @include r($lg) {
      display: none;
    }
  }

  &__bottom {
    background-color: $green-900;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    @include r($lg) {
      flex-wrap: wrap;
      padding: 11px 0;
    }
  }

  &__catalog-menu {
    max-width: 240px;
    width: 100%;
    position: relative;

    @include r($lg) {
      max-width: 100%;
      order: 4;
      display: none;
    }
  }

  &__catalog {
    width: 100%;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $green-900;
    position: relative;
    padding: 15px 38px 15px 60px;
    background-color: $white;
    border-radius: 6px;
    z-index: 10;
    transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out;

    @include r($lg) {
      border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    }

    &--burger {
      font-size: 18px;
      line-height: 1;
      padding: 15px 38px 15px 39px;
      color: $dark-800;
    }

    &::before {
      content: '';
      background-image: url('../images/svg/icon-nav.svg');
      position: absolute;
      width: 25px;
      height: 17px;
      left: 18px;
      bottom: 16px;

      @include r($lg) {
        background-image: url('../images/svg/icon-nav-silver.svg');
        height: 19px;
        left: 16px;
        bottom: 15px;
      }
    }

    &::after {
      content: '';
      background-image: url('../images/svg/icon-chevron.svg');
      position: absolute;
      width: 8px;
      height: 4px;
      right: 19px;
      bottom: 22px;
      transition: transform 0.5s ease-in-out;

      @include r($lg) {
        opacity: 0;
      }
    }

    &:hover {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;

      @include r($lg) {
        background-color: $white;
        border-radius: 0;
      }


      &::after {
        transform: rotate(-180deg);
      }
    }

    &:hover~.header__catalog-list {
      transform: translateY(0);
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &__catalog-list {
    position: absolute;
    background-color: $white;
    z-index: 5;
    top: 30px;
    width: 240px;
    border-radius: 0 0 6px 6px;
    padding-top: 20px;
    border: 1px solid $silver;
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__catalog-link {
    display: block;
    padding: 15px 24px;
    border-top: 0.5px solid $silver;
    border-bottom: 0.5px solid $silver;
    border-left: 3px solid rgba($green-900, 0);
    transition: color 0.5s ease-in-out, border-left 0.5s ease-in-out;

    &:hover {
      color: $green-900;
      border-left: 3px solid rgba($green-900, 1);
    }
  }

  &__form-menu {
    max-width: 577px;
    width: 100%;

    @include r($xxx) {
      max-width: 477px;
    }

    @include r($xl) {
      max-width: 327px;
    }

    @include r($lg) {
      max-width: 100%;
      order: 3;
      width: 50px;
      margin-left: auto;
      order: 0;
    }
  }

  &__btn-search {
    display: none;

    @include r($lg) {
      display: block;
      position: relative;
      width: 44px;
      height: 44px;
      border-radius: 3px;
      transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;

      &:hover {
        background-color: rgba($white, 0.1);
      }

      &:focus {
        box-shadow: 0 0 0 4px #E0EDCF;
      }

      &:active {
        opacity: 0.5;
        box-shadow: none;
      }
    }
  }

  &__form-icon {
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &__form-inner {
    position: relative;

    @include r($lg) {
      display: none;
    }

    &--mobile {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      top: 120px;
      transform: translateY(-1000%);
      z-index: 10;

      @include r($lg) {
        display: block;
      }

      &.search--active {
        transform: translateY(0);
      }
    }
  }
}

.logo {

  &__img {

    @include r($lg) {
      display: none;
    }
  }

  &__img-burger {
    display: block;
  }

  &__mini {
    display: none;

    @include r($lg) {
      display: block;
    }
  }
}

.form-search {
  width: 100%;
  padding-right: 158px;

  @include r($xl) {
    max-width: 377px;
    padding-right: 104px;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  &::after {
    width: 44px;
    height: 44px;
    background-color: rgba($white, 0);
    border-radius: 6px;
    top: 3px;
    left: 0;
  }

  &::before {
    background-image: url('../images/svg/icon-search.svg');
    width: 20px;
    height: 20px;
    left: 13px;
    bottom: 14px;
  }

  &:hover::after {
    background-color: rgba($white, 0.1);
  }

  &:active::before {
    opacity: 0.5;
  }

  &__input {
    width: 100%;
    padding: 15px 10px 15px 52px;
    border-radius: 6px 0 0 6px;

    @include r($xl) {
      max-width: 250px;
    }

    &::placeholder {
      letter-spacing: 0.03em;
      color: $dark-800;
    }

    &--mobile {
      max-width: 100%;
      width: 100%;
      border-radius: 0;
    }
  }

  &__btn {
    position: absolute;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $white;
    padding: 16px 53px;
    text-transform: uppercase;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    transform: translateY(-1px);
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

    @include r($xl) {
      padding: 16px 26px;
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
    }

    &:active {
      color: rgba($white, 0.5);
      box-shadow: none;
    }

    &--mobile {
      border-radius: 0;
    }
  }

  &__mobile {
    max-width: 100%;
    width: 100%;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 12px;

      @include r($lg) {
        display: none;
        order: 4;
      }
    }

  }

  &__link {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out;

    @include r($lg) {
      width: 44px;
      height: 44px;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &:focus {
      box-shadow: 0 0 0 4px #E0EDCF;
    }

    &:active {
      opacity: 0.5;
      box-shadow: none;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: $white;

    @include r($lg) {
      width: 24px;
      height: 24px;
    }
  }

  &__num {
    position: absolute;
    border-radius: 100px;
    color: $red-900;
    background-color: $white;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    padding: 0 3px;
    top: 2px;
    right: 30px;
    pointer-events: none;
    z-index: 1;

    @include r($lg) {
      right: 25px;
    }
  }
}

// SLIDER-TOP// SLIDER-TOP// SLIDER-TOP// SLIDER-TOP

.slider-top {

  &__item {
    position: relative;
    @extend %bg;
    height: 600px;
    max-width: 100%;
    object-fit: contain;

    @include r($sm) {
      height: 320px;
    }
  }

  &__container {
    max-width: 1290px;
    margin: 0 auto;
  }

  &__offer {
    position: absolute;
    max-width: 1290px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 24px 24px 36px;
    border-radius: 4px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);

    @include r($lg) {
      padding: 15px 15px 27px;
    }
  }

  &__title {
    color: $dark-500;
    max-width: 70%;
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 12px;

    @include line-clamp(60, 1.3, 3);

    @include r($xl) {
      font-size: 42px;
      max-width: 58%;
    }

    @include r($lg) {
      font-size: 36px;
    }

    @include r($md) {
      max-width: 65%;
    }

    @include r($sm) {
      max-width: 80%;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-size: 60px;
    color: $red-900;

    @include r($xl) {
      font-size: 42px;
    }

    @include r($lg) {
      font-size: 36px;
    }

    @include r($sm) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 44px;

    @include line-clamp(16, 1.4, 2);

    @include r($sm) {
      margin-bottom: 32px;
      font-size: 15px;
    }
  }

  &__slick {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba($white, 0.8);
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
    }

    & path {
      transition: fill 0.5s ease-in-out;
    }

    // :disabled почему то не работает

    &:disabled.slick-disabled svg {
      fill: $silver-600;
    }

    &:hover {
      background-color: $green-200;
    }

    &:hover path {
      fill: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
    }

    &:active {
      background-color: rgba($white, 0.8);
    }
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);

  @include r($sm) {
    transform: translateY(-36px);
  }

  & li:not(:last-child) {
    margin-right: 12px;
  }

  & button {
    background-color: $white;
    border: 1px solid $silver-600;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0;
    padding: 0;

    @include r($sm) {
      width: 10px;
       height: 10px;
    }
  }

  & .slick-active button {
    background-color: $green-900;
    
  }
}

// ADVANTAGES// ADVANTAGES// ADVANTAGES// ADVANTAGES

.advantages {
  padding: 48px 60px 29px 0;
  background-color: $silver-100;

  @include r($lg) {
    padding: 30px 0;
  }


  &__inner {
    display: flex;
    justify-content: center;

    @include r($lg) {
      flex-direction: column;
    }
  }



  &__item {
    max-width: 264px;
    padding-left: 75px;
    position: relative;
    object-fit: cover;
    @extend %bg;

    @include r($lg) {
      max-width: 100%;
      margin: 0;
    }

    &:not(:last-child) {
      margin-right: 66px;

      @include r($lg) {
        margin: 0 0 30px;
      }
    }

  

    &--delivery::before,
    &--return::before,
    &--support::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
    }

    &--delivery {
      &::before {
        background-image: url('../images/svg/icon-scooter.svg');
      }
    }

    &--return {
      &::before {
        background-image: url('../images/svg/icon-return-box.svg');
      }
    }

    &--support {
      &::before {
        background-image: url('../images/svg/icon-24-hours.svg');
      }
    }
  }

  &__title {
    font-weight: 600;
    color: $dark-900;
    margin-bottom: 6px;

    @include line-clamp(16, 1.4, 1)
  }

  &__text {
    @include line-clamp(14, 1.4, 2)
  }
}

// TOP-PRODUCT// TOP-PRODUCT// TOP-PRODUCT// TOP-PRODUCT

.top-product {

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    @include r($xl) { 
      grid-gap: 20px;
    }

    @include r($lg) { 
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
    
    @include r($md) { 
      grid-gap: 5px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    max-width: 300px;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    position: relative;
    padding: 56px 0 18px;
    transition: border 0.5s ease-in-out;

    &:hover {
      border: 1px solid $green-900;
    }
  }

  &__favorite {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 10px;
    right: 7px;
    padding-top: 9px;
    z-index: 1;

    @include r($sm) {
      width: 36px;
      height: 36px;
    }

    &:hover svg {
      fill: $yellow-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active svg {
      fill: rgba(255, 184, 0, 0.5);
    }

    &:active {
      box-shadow: none;
    }
  }

  &__icon-favorite {
    width: 32px;
    height: 29px;
    fill: $silver-600;
    transition: fill 0.5s ease-in-out;

    @include r($lg) {
      width: 24px;
      height: 22px;
    }
  }

  &__product {
    position: relative;
    margin: 57px 0 18px;
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    max-width: 100%;
    height: 215px;

    @include r($sm) {
      height: 120px;
    }

    &::after,
    &::before {
      content: ''; 
      position: absolute;   
      transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
    }

    &::after {      
      background-color: rgba($black, 0);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    &::before {     
      background-image: url('../images/svg/icon-search-product.svg');
      @extend %bg;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      opacity: 0;
    }

    &:hover::after {
      background-color: rgba($black, 0.1);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__img {
    object-fit: contain;
    max-width: 100%;

    @include r($sm) {
      height: 120px;
    }
  }

  &__heading {
    margin-bottom: 10px;

    @include r($sm) {
      margin-bottom: 5px;
    }
  }

  &__text {
    text-align: left;
    letter-spacing: 0.03em;
    font-weight: 600;
    color: $dark-900;
    height: 60px;

    @include line-clamp(14, 1.4, 3)
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 18px;

    @include r($sm) {
      padding: 0 12px;
    }
  }

  &__cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__icon-cart {
    width: 16px;
    height: 16px;
    fill: $white;
  }

  &__price {
    letter-spacing: 0.03em;
    line-height: 1;
    color: $dark-500;

    &--old {
      position: absolute;
      bottom: 17px;
      color: $silver-600;
      letter-spacing: 0.03em;
      line-height: 1;

      &::after {
        content: '';
        position: absolute;
        background-color: $silver-600;
        width: 100%;
        height: 1px;
        transform: rotate(-20deg);
        top: 6px;
        left: 0;
      }
    }
  }

  &__btn {

    &:hover {
      background-color: $green-100;
    }

    &:active {
      color: rgba(99, 166, 14, 0.5);
      box-shadow: inset 0 10px 4px rgba($black, 0.1), 0 0 0 4px rgba(99, 166, 14, 0);
    }
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @include r($lg) {
    margin-bottom: 9px;
  }

  @include r($sm) {
    flex-wrap: wrap;
  }

  &__button:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    font-weight: 700;
    color: $dark-500;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: color 0.5s ease-in-out, border-bottom 0.3s ease-in-out;

    @include r($lg) {
      font-size: 14px;
      margin-bottom: 15px;
    }

    &:hover {
      color: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active {
      box-shadow: none;
      border-bottom: 3px solid $green-200;
    }

  }


}

.badges {
  width: 66px;
  position: absolute;
  top: 8px;
  left: 12px;
  text-align: left;
  text-transform: uppercase;

  &__item {

    //  Без инлайн блока, короткие бейджи 
    // растягиваются на всю ширину блока, поэтому так

    display: inline-block;
    font-weight: 700;
    color: $white;
    border-radius: 6px;
    padding: 3px 6px;
    margin-bottom: 3px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.03em;

    &--new {
      background-color: $green-900;
    }

    &--discount {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }
  }
}

.mixitup-control-active {
  border-bottom: 3px solid $green-200;
}

// ADVERTISING// ADVERTISING// ADVERTISING// ADVERTISING

.advertising {
  text-align: left;
  padding-bottom: 72px;

  &__inner {
    display: grid;
    grid-template-columns: 630px 1fr 1fr;
    grid-gap: 30px;
  }

  &__item:first-child {
    color: $white;

    a {
      border-bottom: 2px solid $white;
    }
  }

  &__item {
    padding: 76px 32px;
    border-radius: 6px;
    color: $dark-500;
    @extend %bg;
  }

  &__subtitle,
  &__link {
    font-weight: 700;
  }

  &__subtitle {
    margin-bottom: 18px;
    letter-spacing: 0.1em;

    @include line-clamp(12, 1.4, 1)
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    width: 70%;
    margin-bottom: 12px;

    @include line-clamp(30, 1.4, 2)
  }

  &__link {
    font-size: 14px;
    border-bottom: 2px solid $dark-500;
  }
}

// ACTION// ACTION// ACTION// ACTION// ACTION// ACTION

.action {
  background-color: $silver-50;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__item {
    text-align: left;

  }

  &__item-link {
    background-color: $white;
    position: relative;
    display: flex;
    padding: 11px;
    border: 1px solid $silver-600;
    border-radius: 6px;
    transition: border 0.5s ease-in-out;

    &:hover {
      border: 1px solid $green-900;
    }
  }

  &__img {
    margin-right: 12px;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $dark-900;
    height: 58px;

    @include line-clamp(14, 1.4, 3)
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-inner {
    display: flex;
    align-items: center;
  }

  &__price,
  &__num {
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  &__price {
    margin-right: 12px;
    font-size: 20px;

    &--old {
      position: relative;
      font-size: 12px;
      line-height: 1;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        background-color: $silver-600;
        width: 100%;
        height: 1px;
        transform: rotate(-20deg);
        top: 6px;
        left: 0;
      }
    }
  }

  &__currency {
    font-size: 14px;
  }

  &__num {
    position: relative;
    padding-right: 20px;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/svg/icon-star.svg');
      @extend %bg;
      right: 2px;
      bottom: -1px;
      width: 16px;
      height: 16px;
    }
  }
}

.condition {
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &__item {

    &--yes {
      color: $green-900;
    }

    &--ends {
      color: $red-900;
    }

    &--no {
      color: $silver-600;
    }
  }
}

// PARTNERS// PARTNERS// PARTNERS// PARTNERS// PARTNERS

.partners {

  &__wrapper {
    margin: 0 auto;
    width: 1180px;
    height: 60px;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 60px;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// NEWS// NEWS// NEWS// NEWS// NEWS// NEWS// NEWS// NEWS

.news {
  padding-bottom: 72px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__link,
  &__month {
    text-transform: uppercase;
  }

  &__link {
    font-weight: 700;
    color: $green-900;
    border-bottom: 2px solid $green-900;
    margin-right: 8px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    cursor: pointer;
    padding-bottom: 18px;

    &:hover .news__text {
      color: $green-900;
    }
  }

  &__bg {
    position: relative;
    @extend %bg;
  }

  &__calendar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    width: 65px;
    border-radius: 0 0 4px 4px;
    padding: 18px 0 10px;
    color: $dark-900;
    top: 0;
    left: 20px;
  }

  &__month {
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 4px;
  }

  &__day {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
  }

  &__text {
    font-weight: 600;
    padding: 18px;
    height: 90px;
    transition: color 0.5s ease-in-out;

    @include line-clamp(16, 1.5, 4)
  }
}

// FOOTER// FOOTER// FOOTER// FOOTER// FOOTER// FOOTER

.footer {
  background-color: $dark-800;
  padding-top: 30px;
  color: $white;

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__registration {
    margin-right: 170px;
  }

  &__text {
    display: inline-block;
    margin-bottom: 18px;

    @include line-clamp(14, 1, 1)
  }

  &__form {
    position: relative;
  }

  &__form-input {
    max-width: 180px;
    padding: 10px;
    border-radius: 6px 0 0 6px;

    &::placeholder {
      line-height: 1;
    }
  }

  &__form-btn {
    position: absolute;
    transform: translateY(-1px);
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 0 6px 6px 0;
    padding: 13px 17px;
  }

  &__links {
    display: block;
    column-count: 3;
    column-gap: 75px;
  }

  &__link {
    display: block;
    transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
      opacity: 0.7;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }



  &__item {
    margin-bottom: 18px;

    &--contact {
      margin: 0 0 18px 0;
    }
  }

  &__bottom {
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts {
  display: block;

  &__header {
    padding: 24px 0 24px 15px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    text-transform: none;
  }

  &__item {
    margin-bottom: 18px;

    &--contact {
      margin: 0 0 18px 0;
    }
  }

  &__link {
    display: block;
    transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;

    &--header {
      position: relative;
      color: $dark-800;
      padding-left: 39px;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    &:hover {
      opacity: 0.7;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 3px #EFF6E7;
      border-radius: 3px;
    }

    &:active {
      color: $green-200;
      box-shadow: none;
    }
  }

  &__icon-tel,
  &__icon-map {
    position: absolute;
    fill: $dark-800;
    width: 24px;    
    left: 0;
  }

  &__icon-tel {
    height: 24px;
  }

  &__icon-map {
    height: 33px;
    top: 7px;
  }
}

.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 32px;
    height: 32px;
    transition: fill 0.5s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active svg {
      fill: $green-200;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $white;

    &--header {
      fill: $dark-800;
    }
  }
}

.cards {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    display: block;
    transition: fill 0.5s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active svg {
      fill: $green-200;
    }
  }

  &__icon {
    fill: $white;
    height: 29px;

    &--visa {
      width: 93px;
    }

    &--mc {
      width: 49px;
    }
  }
}