.advantages {
  padding: 48px 60px 29px 0;
  background-color: $silver-100;
  margin-top: auto;

  @include r($lg) {
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include r($lg) {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 264px;
    padding-left: 75px;
    position: relative;
    object-fit: cover;
    @extend %bg;

    @include r($lg) {
      max-width: 100%;
      margin: 0;
    }

    &:not(:last-child) {
      margin-right: 66px;

      @include r($lg) {
        margin: 0 0 30px;
      }
    }



    &--delivery::before,
    &--return::before,
    &--support::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      left: 0;
    }

    &--delivery {
      &::before {
        background-image: url('../images/svg/icon-scooter.svg');
      }
    }

    &--return {
      &::before {
        background-image: url('../images/svg/icon-return-box.svg');
      }
    }

    &--support {
      &::before {
        background-image: url('../images/svg/icon-24-hours.svg');
      }
    }
  }

  &__title {
    font-weight: 600;
    color: $dark-900;
    margin-bottom: 6px;

    @include line-clamp(16, 1.4, 1)
  }

  &__text {
    @include line-clamp(14, 1.4, 2)
  }
}