.condition {
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &__item {

    &--yes {
      color: $green-900;
    }

    &--ends {
      color: $red-900;
    }

    &--no {
      color: $silver-600;
    }
  }
}