.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 32px;
    height: 32px;
    transition: fill 0.5s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:active svg {
      fill: $green-200;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $white;
  }
}