.action {
  background-color: $silver-50;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 48px;

    @include r($xxx) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include r($xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r($lg) {
      grid-gap: 15px;
    }

    @include r($md) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 24px;
      padding: 0 15px;
    }

    @include r($m) {
      padding: 0;
    }
  }

  &__item {
    text-align: left;
    background-color: $white;
  }

  &__item-link {
    position: relative;
    display: flex;
  }

  &__img {
    width: 100px;
    height: 100px;
    margin-right: 12px;
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $dark-900;
    height: 58px;

    @include line-clamp(14, 1.4, 3)
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-inner {
    display: flex;
    align-items: center;
  }

  &__price,
  &__num {
    line-height: 1;
    letter-spacing: 0.03em;
    color: $dark-500;
  }

  &__price {
    margin-right: 12px;
    font-size: 20px;

    &--old {
      position: relative;
      font-size: 12px;
      line-height: 1;
      color: $silver-600;

      &::after {
        content: '';
        position: absolute;
        background-color: $silver-600;
        width: 100%;
        height: 1px;
        transform: rotate(-20deg);
        top: 6px;
        left: 0;
      }
    }
  }

  &__currency {
    font-size: 14px;
  }

  &__num {
    position: relative;
    padding-right: 20px;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/svg/icon-star.svg');
      @extend %bg;
      right: 2px;
      bottom: -1px;
      width: 16px;
      height: 16px;
    }
  }
}